@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900|Titillium+Web:200,300,400,600,700,900&subset=korean');

body{
    padding: 0;
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
    font-family: 'Titillium Web', sans-serif;
	width: 100%;
	height: 100%;
}
h1,h2,p,a,span,ul li, button {
    font-family: 'Noto Sans KR', sans-serif;
    font-family: 'Titillium Web', sans-serif;
}
a, a:hover, a:visited, a:active, a:link{
	text-decoration: none;
}
div{
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/********************
		공통
*********************/
/*메인 box*/
.container_box {
	display: grid;
	grid-template-columns: repeat(13, 1fr);
	grid-template-rows: repeat(13, 75px);
}

/* 메뉴 */
.menu{
	grid-column-start: 1;
	grid-column-end: 4;
	grid-row-start: 1;
	grid-row-end: 14;	
	background-color: #eaebed;
}
.my-photo {
	background-color: #981d37;
	width: 130px;
	height: 130px;
	margin: auto;
	margin-top: 110px;
	border-radius: 100%;
	overflow: hidden;
}
.my-photo img {
	display: block;
	width: 80%;
	margin : auto;
}
.my-text p {
	font-size: 1.3em;
	font-weight: 100;
	text-align: center;
	color: #981d37;
	line-height: 1.5;
	margin-top: 50px;
}
.text-point {
	font-weight: 800;
	font-size: 1.7em;
}
.text-mark {
	display: block;
	margin-top: 30px;
	margin-bottom: -20px;
	font-size: 3.3em;
	font-family: 'Noto Sans KR';
	font-weight: 400;
	line-height: 0;
}
.my-middle {
	background-color: #981d37;
	margin-top: 50px;
	margin-bottom: 50px;
	height: 250px;
}
.my-middle p {
	position: absolute;
	width: 100%;
	top: 15%;
	text-align: center;
	line-height: 2;
	word-break: keep-all;
	color: #fff;
	font-size: 1.3em;
}
.my-footer {
	width: 50%;
	margin-left:auto;
	margin-right: auto;
	text-align: left;
}
.my-footer p.moblie-text {
	display: none;
}
.my-footer p {
	font-size: 1.0em;
	font-weight: 600;
	padding-top: 20px;
	height: 15px;
	margin: 0;
	color: #981d37;
}
.my-footer p i {
	font-size: 0.8em;
	font-size: 0.8em;
	font-weight: 600;
	padding: 5px;
}
.my-footer a:hover p {
	color: #dc1d37;
}

/*상단 탭 메뉴*/

/*1024px 이하일때 탭 메뉴*/
.button-menu-box, .overlay {
	display: none;
}

.tab-menu {
	grid-column-start: 4;
	grid-column-end: 14;
	grid-row-start: 1;
	background-color: #981d37;
	z-index: 100;
}
.tab-menu ul {
	list-style: none;
	padding: 0;
	padding-left: 15px;
	margin: 0;
}
.tab-menu ul li {
	display: block;
	float: left;
	bottom: 0;
	
	margin-top: 17px;
	background-color: #981d37;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	color: #fff;
	font-weight: 300;
	font-size: 1.1em;
}
.tab-menu ul li:hover {
	cursor: pointer;
	font-weight: 600;
}
.tab-menu ul li.active {
	margin-top: 18px;
	font-weight: 600;
	background-color: #fff;
	color: #981d37;
}
.tab-menu ul li a {
	color: #fff;
	display: block;
	padding: 15px 100px;
}
.tab-menu ul li.active a {
	color: #981d37;
}

/********************
	  공통 디자인
*********************/

/* 내부타이틀 */
h2.box-title {
	font-size: 1.2em;
	font-weight: 600;
	color: #981d37;
	border-bottom: 1px solid #bbb;
	padding-bottom: 10px;
}

/* 테이블 */
table.box-table {
	margin: 20px;
}
table.box-table th {
	font-weight: 300;
	padding-bottom: 10px;
	padding-right: 20px;
	word-break: keep-all;
	font-size: 1em;
}
table.box-table td {
	word-break: keep-all;
	font-size: 1em;
	padding-bottom: 10px;
}

/* 내부텍스트 */
p.text-content {
	font-size: 1.0em;
	font-weight: 300;
	word-break: keep-all;
	line-height: 1.9em;
	color: #777;
	padding-left: 15px;
}

/*포인트 텍스트*/
.point-text-black {
	font-weight: 600;
}
.point-text-color {
	font-weight: 600;
	color: #981d37;
}

/*다운로드 버튼*/
/* 텍스트 옆 아이콘형태 */
.download-but {
	color: #981d37;
	font-size: 1.0em;
	font-weight: 600;
}
.download-but i {
	vertical-align: sub;
}
.download-but:hover {
	color: #dc1d37;
}
/* block 형태 */
.download-but-box {
	display: block;
	padding: 3px 10px;
	margin-top: 5px;
	margin-right: 15px;
	background-color: #eaebed;
	color: #981d37;
	text-align: center;
	font-weight: 600;
}
.download-but-box i {
	vertical-align: sub;
	font-size: 15pt
}
.download-but-box:hover {
	background-color: #981d37;
	color: #eaebed;
	transition: all 0.3s;
}

/********************
	  main grid
*********************/

/*사이드 메뉴와 tab메뉴를 제외한 content가 들어있는 box*/
.main-box {
	grid-column-start: 4;
	grid-column-end: 14;
	grid-row-start: 1;
	grid-row-end: 14;	
}
.main-grid {
	display: grid;
	grid-template-columns: repeat(11, 1fr);
	grid-template-rows: repeat(13, 75px);
}

/* 인적사항 페이지 */

/**********************
******가로순서대로*******
***********************
******* 1     2 *******
******* 3  4  5 *******
***********************
***********************/

.box-1 {
	grid-column-start: 1;
	grid-column-end: 7;
	grid-row-start: 2;
	grid-row-end: 8;
}
.box-2 {
	grid-column-start: 7;
	grid-column-end: 12;
	grid-row-start: 2;
	grid-row-end: 8;
}
.box-3 {
	grid-column-start: 1;
	grid-column-end: 5;
	grid-row-start: 9;
	grid-row-end: 14;
}
.box-4 {
	grid-column-start: 5;
	grid-column-end: 9;
	grid-row-start: 9;
	grid-row-end: 14;
}
.box-5 {
	grid-column-start: 9;
	grid-column-end: 12;
	grid-row-start: 9;
	grid-row-end: 14;
}

.box-1, .box-2 {
	margin-top: 30px;
	margin-bottom: 10px;
}
.box-3, .box-4, .box-5 {
	margin-top: 10px;
}
.box-1, .box-3 {
	margin-left: 50px;
}
.box-2, .box-4 {
	margin-left: 30px;
	margin-right: 30px;
}
.box-5 {
	margin-right: 30px;
}

/********************
		box-2 
*********************/

/*스킬바 - 메인*/
.skill-bar-box {
	width: 90%;
	margin: auto;
	margin-bottom: 10px;
}
.skill-bar-box h4 {
	margin: 0;
	padding: 0;
	padding-bottom: 5px;
	font-size: 1.2em;
	font-weight: 600;
	color: #666;
	
}
/*스킬바 - 서브*/
.skill-bar-box2.top {
	margin-top: 25px;
}

.skill-bar-box2 {
	width: 90%;
	margin: auto;
	margin-bottom: 10px;
}
.skill-bar-box2 h4 {
	margin: 0;
	padding: 0;
	padding-bottom: 5px;
	font-size: 0.8em;
	font-weight: 300;
	color: #666;
}
/*스킬바 공통*/
.skill_bars {
	width: 100%;
	height: 4px;
}
.skill_bars svg {
	position: absolute;
	top: 0;
	left: 0;
}
.progressbar-text {
	font-size: 13px;
	color: #999;
	font-weight: 500;
}

/* 포트폴리오 페이지 */

/*********************
******세로순서대로******
**********************
******* 6    9 *******
******* 7    10 ******
******* 8    11 ******
**********************
**********************/

.box-6 {
	grid-column-start: 1;
	grid-column-end: 6;
	grid-row-start: 2;
	grid-row-end: 5;
}
.box-7 {
	grid-column-start: 1;
	grid-column-end: 6;
	grid-row-start: 5;
	grid-row-end: 7;
}
.box-8 {
	grid-column-start: 1;
	grid-column-end: 6;
	grid-row-start: 7;
	grid-row-end: 13;
}
.box-9 {
	grid-column-start: 6;
	grid-column-end: 14;
	grid-row-start: 2;
	grid-row-end: 5;
}
.box-10 {
	grid-column-start: 6;
	grid-column-end: 14;
	grid-row-start: 5;
	grid-row-end: 8;
}
.box-11 {
	grid-column-start: 6;
	grid-column-end: 14;
	grid-row-start: 8;
	grid-row-end: 13;
}
/*프로젝트 페이징 인척*/
.box-12 {
	grid-column-start: 1;
	grid-column-end: 14;
	grid-row-start: 13;
	grid-row-end: 14;
}

.box-6, .box-7, .box-8 {
	margin-left: 50px;
	margin-right: 10px;
}
.box-9, .box-10, .box-11 {
	margin-left: 20px;
	margin-right: 50px;
}
.box-6, .box-9 {
	margin-top: 30px;
}
.box-8, .box-11 {
	margin-bottom: 30px;
}

/********************
		box-6
*********************/
.project-date{
	display: block;
}

/********************
		box-8
*********************/

/*이미지슬라이드*/
.project-img {
	width: 40%;
}
.test_slider {
	height: 100%;
	background-color: #ddd;
}
.owl-item img {
    width: 100%;
}
/*이미지버튼*/
.test_slider_btn {
	margin-top: 10px;
	margin-bottom: 45px;
	width: 100%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
}
.test_slider_btn a {
	background-color: #eee;
	text-align: center;
	display: block;
	width: 49%;
}
.test_slider_btn a:hover {
	cursor: pointer;
	background-color: #777;
}
.test_slider_btn a.prev {
	float: left;
}
.test_slider_btn a.next {
	float: right;
	margin-right: 0px;
}
.btn {
	display: block;
	background-color: #981d37;
	color: #fff;
	font-size: 1.0em;
	font-weight: 600;
	width: 100%;
	border : none;
	padding: 10px 0px;
	text-align: center;
}
.btn:hover {
	cursor: pointer;
	background-color: #dc1d37;
}

/********************
		box-12
*********************/

/*프로젝트 페이징*/
.paging {
	border-top: 1px solid #eee;
	width: 98%;
	margin: auto;
	margin-top: 20px;
	padding-top: 10px;
	text-align: center;
}
.paging ul {
	display: inline-block;
	list-style: none;
	padding: 0;
	margin: 0;
}
.paging ul li {
	float: left;
	padding: 0px 5px;
}
.paging ul li a {
	background-color: #981d37;
	color: #fff;
	padding: 2px 10px;
}
.paging ul li a.active {
	background-color: #dc1d37;
}
.paging ul li a:hover {
	cursor: pointer;
	background-color: #dc1d37;
}


/* design포트폴리오 페이지 */

/*********************
******세로순서대로******
**********************
*******   13   *******
**********************
**********************/

.box-13 {
	grid-column-start: 4;
	grid-column-end: 14;
	grid-row-start: 2;
	grid-row-end: 14;
}

.design-portfolio {
	width: 50%;
	margin: auto;
	margin-top: 120px;
}

.box-agin {
	grid-column-start: 4;
	grid-column-end: 14;
	grid-row-start: 2;
	grid-row-end: 14;
}