<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:fragment="configFragment">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>portfolio</title>
	<!--구글 아이콘-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<!-- my css -->
	<link rel="stylesheet" type="text/css" href="css/grid.css">
	<!-- my css : 반응형 -->
	<link rel="stylesheet" type="text/css" href="css/grid_responsive.css">
	<!-- my css : 익스플로어 -->
	<link rel="stylesheet" type="text/css" href="css/IE_grid.css">
	
	<!-- 제이쿼리 -->
	<script src="/webjars/jquery/3.3.1/jquery.min.js"></script>
	
	<!-- 사용자 CSS 영역이 들어감 -->
	<th:block layout:fragment="css"></th:block>
	
	<!-- 사용자 스크립트 영역이 들어감 -->
	<th:block layout:fragment="script"></th:block>
</head>

</html>